#dates-div {
  &.hidden {
    max-height: 0;
    opacity: 0;
  }
  max-height: 100vh;
  overflow: hidden;
  transition: max-height 1s, opacity 0.7s;
}

button {
  margin-top: 1em;
}

.content {
  background-image: url('../../img/background.jpg');
  background-size: cover;
  padding: 0 1em 0 1em;
  min-height: 101vh;
}

.is-three-quarters {
  padding-top: 2em;
  background-color: white;
}
